TARUBOT_DISCORD_API_TOKEN=API_TOKEN
TARUBOT_DISCORD_APP_ID=API_APP_ID
TARUBOT_DISCORD_GUILDS=GUILD_ID_1,GUILD_ID_2,GUILD_ID_3,...
TARUBOT_DB_DATABASE=DB_NAME
TARUBOT_DB_USERNAME=DB_USERNAME
TARUBOT_DB_PASSWORD=DB_PASSWORD
TARUBOT_DB_HOST=DB_HOST
TARUBOT_DB_PORT=DB_PORT
TARUBOT_DB_DIALECT=DB_DIALECT
TARUBOT_LOG_CONSOLE_ENABLED=true
TARUBOT_LOG_CONSOLE_LEVEL=info
TARUBOT_LOG_FILE_ENABLED=true
TARUBOT_LOG_FILE_PATH=log/tarubot.log
TARUBOT_LOG_FILE_LEVEL=info
