##############################################################
#               DO NOT USE OR MODIFY THIS FILE               #
#                                                            #
# This file is a template that is used by the build process. #
# The application does not read this file at runtime.        #
#                                                            #
# To configure your bot, edit the file at                    #
#     dist/config/local.yaml instead.                        #
##############################################################

discord:
  api:
    # Discord API token for your bot.
    # You can get this from the Discord Developer Portal.
    # https://discord.com/developers/applications
    token: YOUR_DISCORD_API_TOKEN

    # Discord application ID for your bot.
    # You can get this from the Discord Developer Portal.
    # https://discord.com/developers/applications
    # This must be specified as a string, so enclose it in quotes.
    # If you don't, you will get API errors when trying to register commands.
    app_id: YOUR_DISCORD_APP_ID

  ## If you want to only register commands in certain guilds,
  ## uncomment this section and enter the guild ID(s) here.
  ## NOTE: This must be a list of strings.
  ##       Each line must start with a dash (-) and a space.
  ##       Each guild ID must be enclosed in quotes.
  # guilds:
  #   - "GUILD_ID_1"
  #   - "GUILD_ID_2"
  #   - "GUILD_ID_3"

## Database connection settings.
## This section is required, and the bot will not start without it.
db:
  ## Database name.
  database: YOUR_DATABASE_NAME

  ## Database username.
  username: YOUR_DATABASE_USERNAME

  ## Database password.
  password: YOUR_DATABASE_PASSWORD

  ## Database host.
  host: YOUR_DATABASE_HOST

  ## Database port. If not set, the default port for the database type will be used.
  port: YOUR_DATABASE_PORT

  ## Database type. Any database supported by Sequelize can be used.
  ## Valid values are: mysql, mariadb, postgres, mssql, sqlite.
  dialect: YOUR_DATABASE_DIALECT

## NOTE: If no log outputs are enabled, logs will be written to the console,
##       and the log level will be set to "info".
log:
  console:
    # To suppress logging to the console, set to false.
    enabled: true

    # Set to "debug" to see more detailed logging.
    # If unset, the log level will be set to "info".
    level: debug

  file:
    # To enable logging to a file, set to true.
    enabled: true

    # Path to the log file.
    path: "logs/tarubot.log"

    # Set to "debug" to see more detailed logging.
    # If unset, the log level will be set to the console log level,
    # or "info" if console logging is disabled.
    level: info
